<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
  <% let playersarray = players %>

   <h2 align="center" class="mt-2"><=%Tournament Name=></h2>
   <div class="pb-2 pt-2" style="background-color:orange;">
   <div class="container mt-5" align="center">
   <form action="/rounds" method="POST">
     <div class="pl-5 ml-5">
       <div class="row equal">
         <% if(playersarray.length%2 === 0){ %>
           <%let match = 1 %>
            <% for(var i = 0; i < playersarray.length; i=i+2) { %>
              <div class="col-sm-4 d-flex pb-3">
                <div class="card border-info mb-3" style=" width: 13rem;">
                  <div class="card-header">  match <%= match %>  </div>
                  <div class="card-body text-info">
                    <p>Who won?</p>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                      <label class="btn btn-outline-info btn-lg">
                        <input type="radio" name="<%= playersarray[i].name %>" id="option1" autocomplete="off"><%= playersarray[i].name %>
                      </label>
                      <label class="btn btn-lg btn-outline-info">
                        <input type="radio" name="<%= playersarray[i+1].name %>" id="option2" autocomplete="off"><%= playersarray[i+1].name %>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            <%match ++%>
            <% } %>



            <%} else if (players.length %2 !== 0) { %>
            <% let randomplayer = playersarray[Math.floor(Math.random() * playersarray.length)] %>
            <% var index = playersarray.indexOf(randomplayer); %>
            <% if (index > -1) { %>
            <% playersarray.splice(index, 1); %>
            <% } %>

            <%let match = 1 %>

            <% for(var i = 0; i < playersarray.length; i=i+2) { %>
          <div class="col-sm-4 d-flex pb-3">
            <div class="card border-info mb-3" style=" width: 13rem;">
              <div class="card-header">match <%= match %></div>
              <div class="card-body text-info">
                <p>Who won?</p>
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-outline-info btn-lg">
                    <input type="radio" name="<%= playersarray[i].name %>" id="option1" autocomplete="off"><%= playersarray[i].name %>
                  </label>
                  <label class="btn btn-lg btn-outline-info">
                    <input type="radio" name="<%= playersarray[i+1].name %>" id="option2" autocomplete="off"><%= playersarray[i+1].name %>
                  </label>
                </div>
              </div>
            </div>
          </div>




          <%match ++%>
        <% } %>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-sm btn-outline-info active">
            <input type="radio" checked="" id="option2" name="<%= randomplayer.name %>"><%=randomplayer.name%> is lucky and goes to the next round! </p>
          </label>
        </div>
      </div>
      <% } %>


    </div>
    <button class="btn btn-info btn-lg" type="submit">Submit scores</button>
  </form>
</div>
</div>

 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
