<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;    
}
</style>
</head>
<body>

<% let playersarray = players %>
<form action="/rounds" method="POST">
<% if(playersarray.length%2 === 0){ %>
<%let match = 1 %>
  <% for(var i = 0; i < playersarray.length; i=i+2) { %>
  <p> match <%= match %> </p>
  
  <div class="form-group">
  <label for="exampleFormControlSelect1"><%= playersarray[i].name %></label>
    <select class="form-control" name="<%= playersarray[i].name %>" id="exampleFormControlSelect1">
      <option>Winner</option>
      <option>Loser</option>
    </select>
    <label for="exampleFormControlSelect1"><%= playersarray[i+1].name %></label>
    <select class="form-control" name="<%= playersarray[i+1].name %>" id="exampleFormControlSelect1">
      <option>Winner</option>
      <option>Loser</option>
    </select>
    </div>
  
  <%match ++%>
  <% } %>

<%} else if (players.length %2 !== 0) { %>
    <% let randomplayer = playersarray[Math.floor(Math.random() * playersarray.length)] %>
    <% var index = playersarray.indexOf(randomplayer); %>
        <% if (index > -1) { %>
              <% playersarray.splice(index, 1); %>
        <% } %>

  <%let match = 1 %>

    <% for(var i = 0; i < playersarray.length; i=i+2) { %>
    <p> match <%= match %> </p>
  
  <div class="form-group">
  <label for="exampleFormControlSelect1"><%= playersarray[i].name %></label>
    <select class="form-control" name="<%= playersarray[i].name %>" id="exampleFormControlSelect1">
      <option>Winner</option>
      <option>Loser</option>
    </select>
    <label for="exampleFormControlSelect1"><%= playersarray[i+1].name %></label>
    <select class="form-control" name="<%= playersarray[i+1].name %>" id="exampleFormControlSelect1">
      <option>Winner</option>
      <option>Loser</option>
    </select>
    </div>
  
  <%match ++%>
    <% } %>
    
    <p><%=randomplayer.name%> is lucky and goes to the next round! </p>
<% } %>

<br>

  <button type="submit">Submit scores</button>
</form>


<table style="width:100%">
  <tr>
    <th>Name</th>
    <th>Round</th>
    <th>Has lost</th>
    <th>Winner</th>
    <th>Runner up</th>
  </tr>
  <% players.forEach(function(player) { %>
  <tr>
    <td><%= player.name %></td>
    <td><%= player.lastround %></td>
    <td><%= player.haslost %></td>
    <td><%= player.winner %></td>
    <td><%= player.runnerup %></td>
  </tr>
  <% }) %>
</table>


</body>
</html>