<html>
<head>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;    
}
</style>
</head>
<body>

<h2>Cell that spans two columns</h2>
<p>To make a cell span more than one column, use the colspan attribute.</p>

<table style="width:100%">
  <tr>
    <th>Name</th>
    <th>Round</th>
    <th>Has lost</th>
    <th>Winner</th>
    <th>Runner up</th>
  </tr>
  <% players.forEach(function(player) { %>
  <tr>
    <td><%= player.name %></td>
    <td><%= player.lastround %></td>
    <td><%= player.haslost %></td>
    <td><%= player.winner %></td>
    <td><%= player.runnerup %></td>
  </tr>
  <% }) %>
</table>

// Het moet een form worden waarbij een winner en loser kan invullen.
// bij form input moet name <%player.name%> zijn zodat je aan de backend dynamisch kan kijken wat de waarde is (win/lose) dmv een forEach loop
// backend kan dan namelijk naar req.body.(player.name) kijken om te kijken of die speler de match gewonnen of verloren heeft

</body>
</html>
